.track-container {
  width: 100%;
  margin: auto;
  margin-top: 3em;
  position: relative;
  height: 22em;
}

.track-container .track-content {
  width: 760px;
  height: 18em;
  display: grid;
  grid-template-columns: 4fr 8fr;
  position: absolute;
  animation: car 5s linear infinite;
}

@keyframes car {
  0% {
    right: 0;
  }

  25% {
    right: 25%;
  }

  50% {
    right: 50%;
  }

  75% {
    right: 75%;
  }

  100% {
    right: 100%;
  }
}

.track-container .track-content .front {
  background: purple;
  border-top-left-radius: 78%;
  position: relative;
  justify-content: center;
  display: flex;
  border-bottom-left-radius: 7%;
}

.track-container .track-content .front .light {
  background: #fff;
  width: 1.6em;
  height: 1.2em;
  bottom: 50px;
  position: absolute;
  left: 0;
  border-top-right-radius: 85%;
  border-bottom-right-radius: 10%;
}

.track-container .track-content .front .first-front-wheel .center {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  background: black;
  border-radius: 50%;
  z-index: 10;
}

.track-container .track-content .front .first-front-wheel .tooth {
  position: absolute;
  z-index: 1;
  width: 0.8em;
  height: 4.5em;
  background: #fff;
}

.track-container .track-content .front .first-front-wheel .tooth:nth-child(2) {
  transform: rotate(45deg);
}

.track-container .track-content .front .first-front-wheel .tooth:nth-child(3) {
  transform: rotate(90deg);
}

.track-container .track-content .front .first-front-wheel .tooth:nth-child(4) {
  transform: rotate(135deg);
}

.track-container .track-content .front .light::before {
  content: "";
  background: #fff;
  width: 0.5em;
  height: 1.1em;
  bottom: 45px;
  position: absolute;
  left: 210px;
}

.track-container .track-content .front .light::after {
  content: "";
  background: #fff;
  width: 0.6em;
  height: 0.5em;
  bottom: -35px;
  position: absolute;
  left: 0;
  border-top-right-radius: 85%;
  border-bottom-right-radius: 10%;
}

.track-container .track-content .front .first-front-wheel {
  background: black;
  position: absolute;
  width: 6em;
  height: 6em;
  bottom: -45px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.track-container .track-content .front .first-front-wheel::after {
  content: "";
  background: #fff;
  position: relative;
  margin: auto;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.track-container .track-content .front::after {
  content: "";
  width: 74%;
  height: 8em;
  background: #fff;
  position: absolute;
  margin-top: 1.5em;
  margin-left: 1em;
  border-radius: 80% 0 0 0;
}

.track-container .track-content .back {
  background: #bbb;
  position: relative;
  border-radius: 0 5% 4% 0;
}

.track-container .track-content .back .first-back-wheel {
  background: black;
  position: absolute;
  width: 6em;
  height: 6em;
  bottom: -45px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 1s infinite linear;
  right: 45px;
}

.track-container .track-content .back .first-back-wheel .center {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  background: black;
  border-radius: 50%;
  z-index: 10;
}

.track-container .track-content .back .first-back-wheel .tooth {
  position: absolute;
  z-index: 1;
  width: 0.8em;
  height: 4.5em;
  background: #fff;
}

.track-container .track-content .back .first-back-wheel .tooth:nth-child(2) {
  transform: rotate(45deg);
}

.track-container .track-content .back .first-back-wheel .tooth:nth-child(3) {
  transform: rotate(90deg);
}

.track-container .track-content .back .first-back-wheel .tooth:nth-child(4) {
  transform: rotate(135deg);
}

.track-container .track-content .back .first-back-wheel::after {
  content: "";
  background: #fff;
  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.track-container .track-content .back .second-back-wheel {
  background: black;
  position: absolute;
  width: 6em;
  height: 6em;
  bottom: -45px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 1s infinite linear;
  right: 148px;
}

.track-container .track-content .back .second-back-wheel .center {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  background: black;
  border-radius: 50%;
  z-index: 10;
}

.track-container .track-content .back .second-back-wheel .tooth {
  position: absolute;
  z-index: 1;
  width: 0.8em;
  height: 4.5em;
  background: #fff;
}

.track-container .track-content .back .second-back-wheel .tooth:nth-child(2) {
  transform: rotate(45deg);
}

.track-container .track-content .back .second-back-wheel .tooth:nth-child(3) {
  transform: rotate(90deg);
}

.track-container .track-content .back .second-back-wheel .tooth:nth-child(4) {
  transform: rotate(135deg);
}

.track-container .track-content .back .second-back-wheel::after {
  content: "";
  background: #fff;
  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.track-container .track-content .back .content {
  width: 90%;
  background: white;
  margin: auto;
  margin-top: 0.5em;
  height: 12em;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.track-container .track-content .back .item-one {
  color: #ee8957;
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-gap: 0.5em;
  margin-top: 1em;
}

.track-container .track-content .back .item-one .number {
  text-align: center;
  font-size: 5em;
}

.track-container .track-content .back .item-one .text {
  font-weight: 550;
}

.track-container .track-content .back .item-one .text .missed {
  letter-spacing: 0.2em;
}
.track-container .track-content .back .item-one .text p {
  margin: 0.4em;
  font-size: 1.3em;
}

.track-container .track-content .back .item-two {
  color: #77c094;
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-gap: 0.5em;
  margin-top: 1em;
}

.track-container .track-content .back .item-two .number {
  text-align: center;
  font-size: 5em;
}

.track-container .track-content .back .item-two .text {
  font-weight: 550;
}

.track-container .track-content .back .item-two .text .available {
  letter-spacing: 1px;
}

.track-container .track-content .back .item-two .text p {
  margin: 0.4em;
  font-size: 1.3em;
}
