.navbar-collapse > .navbar-nav > .navbar-brand:not(:last-child) {
  border-right: solid 1.3px;
  padding: 0;
  margin: 3px;
}

.bg-light {
  padding: 0;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
}

.navbar-default {
  padding-top: 0.5em 0.5em;
  border: 0px;
}

.logo {
  color: black;
}

.container {
  margin: 0 0;
  width: 75%;
  border: 0;
  padding: 0;
}

.nav-link {
  padding: 0;
}
