.App {
  text-align: center;
}

.App-header {
  background-color: rgb(71, 122, 87);
  height: 180px;
  padding: 5px;
  color: white;
}

.App-header ul {
  list-style: none;
}

App-header li {
  font-size: 20px;
}

.App-intro {
  font-size: large;
}

.App-header a {
  color: white
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}