.info {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  border: 2px solid black;
  margin: 20px;
  text-align: center;
  background-color: rgb(209, 177, 199);
  border-radius: 1em;
}
